.darker-container{
    text-align: center;
    background: #1e1e1e;
    padding: 10px;
    height: 100%;
    position: fixed;
}

.darker-container button{
    padding: 0px 10px 0px 10px;
}

#wine-description-textarea{
    margin-top: 20%;
    height: 250px;
    background-color: #474749;
    color: #fff;
}

#wine-description-submit{
    margin-top: 20px;
}

#wine-plots-variety-text{
    font-size: xx-large;
    font-weight: bolder;
}

.dark-container{
    text-align: center;
    background: #2f2f2f;
    padding: 10px;
    height: 100%;
    margin-left: 23%;
    width: 76% !important;
}

.row{
    height: 100vh;
}

.left-border{
    border-left: 1px solid #1e1e1e;
    padding-left: 4px;
}
.top-border{
    border-top: 1px solid #1e1e1e;
    padding-top: 4px;
    margin-left: 0%;
}